POSTGRES_USER=usuario
POSTGRES_PASSWORD=password
POSTGRES_DB=db_imagenes
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

MINIO_ROOT_USER=usuario_minio
MINIO_ROOT_PASSWORD=password_minio
MINIO_HOST=minio
MINIO_PORT=9000
MINIO_BUCKET=images

KAFKA_BOOTSTRAP_SERVERS=kafka:9092

PIXELATION_FACTOR=10

API_PORT=8000
